    /* ====== HEADER ====== */
    header {
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      z-index: 1000;
      transition: background 0.4s, backdrop-filter 0.4s, box-shadow 0.3s;
    }

    header.scrolled {
      background: rgba(26, 26, 26, 1);
      backdrop-filter: blur(6px);
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
